* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: rgb(212, 146, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-principal {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background-color: rgba(240, 248, 255, 0.404);
  width: 90%;
  border-radius: 25px;
  height: 95%;
}

.container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(151, 186, 216, 0.397);
  width: 55%;
  border-radius: 25px;
  font-size: 2em;
  box-shadow: 0 0 22px 3px rgba(119, 44, 9, 0.582);
}

input {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(213, 231, 196);
  border: none;
  font-size: 20px;
}

input:focus {
  background-color: rgba(113, 223, 186, 0.37);
}

input::placeholder {
  font-weight: bold;
}

.sepa {
  margin-bottom: 12px;
}

button {
  padding: 25px;
  border-radius: 22px;
  font-size: 20px;
  cursor: pointer;
}

.enviar {
  background-color: rgb(66, 99, 241);

}

.enviar:hover {
  background-color: rgb(122, 195, 238);
}

.borrar {
  background-color: rgb(243, 240, 61);

}

.borrar:hover {
  background-color: rgb(238, 202, 104);

}

.texto {
  font-size: small;
  color: rgb(243, 27, 27);
  margin-bottom: 12px;
}


.bungee-regular {
  margin-top: 25px;
  font-family: "Bungee", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 3em;
}

.cajaError {
  border: 1px solid red;
  box-shadow: 0 0 12px 3px rgba(255, 0, 0, 0.897);
}

@media(max-width:765px) {
  .sepa {
    display: flex;
    flex-direction: column;
  }

  button {
    padding: 10px;
    font-size: 12px;
  }

  .container {
    font-size: 15px;
  }

  input {
    padding: 5px;
    font-size: 15px;
  }

  input::placeholder {
    font-size: 10px;
  }
.contenedor, .contenedor-principal{
  height: auto;
}
.bungee-regular {
  font-size: 2em;
}
}