*{
    --principal:rgb(104, 172, 218);
    --titulos:orange;
    --bordes:rgb(148, 28, 28);
}
body{
    margin:0;
    padding: 0;
    background-color: var(--principal);
    
}
header{
    position: sticky; /*Para que el menu se quede arriba siempre pero al principio ocupe su espacio*/
    top: 0;
    background-color: rgb(43, 98, 247); 
    z-index: 1;           /*Esto sirve para que el contenido este por encima, cuanto más alto el número significa que pisa a otros de numero inferior */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color: var(--titulos);
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap:2rem;
    position: relative;
    list-style: none;
    
}
nav ul li,a{
    text-decoration: none;
    color: #fff;
}
main{
    
}