* {
    --principal: rgb(241, 233, 208);
    --titulos: rgb(75, 116, 206);
    --bordes: rgb(148, 28, 28);
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: sticky;
    /*Para que el menu se quede arriba siempre pero al principio ocupe su espacio*/
    top: 0;
    background-color: rgb(224, 200, 164);
    z-index: 1;
    /*Esto sirve para que el contenido este por encima, cuanto más alto el número significa que pisa a otros de numero inferior */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 auto;
}

h1, nav {
    color: var(--titulos);
    max-width: 1400px;   /* ancho máximo del contenido */
    margin: 0 auto;     /* centra horizontalmente */
    padding: 1rem;  
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
}

main{   
    
    max-width: 1400px;   /* ancho máximo del contenido */
    margin: 0 auto;     /* centra horizontalmente */
    padding: 1rem;      /* un poco de aire */
    background-color: bisque;
    width: 100vw;
    min-height: 100vh;
}



footer {
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   text-align: center;
}
h2{
 text-align: center;
 font-size: 3rem;
 margin-bottom: 2rem;
 color: rgb(255, 115, 0);
 text-shadow: 0 0 12px rgb(209, 165, 84);
 
}
.columnas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap:3rem ;

}
.card{
    border: 1px solid;
    box-shadow: 0 0 12px rgb(228, 135, 49);
}
.card ol, .card ul{
    list-style-position: inside;
    padding: 0.5rem 2rem 1rem;
    margin: 0;
}

@media (width:740px) {
    .columnas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap:3rem ;

}
}