*{
    --principal:rgb(241, 233, 208);
    --titulos:rgb(75, 116, 206);
    --bordes:rgb(148, 28, 28);
   margin:0;
    padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
    
    background-color: var(--principal);
    
}
header{
    position: sticky; /*Para que el menu se quede arriba siempre pero al principio ocupe su espacio*/
    top: 0;
    background-color: rgb(224, 200, 164); 
    z-index: 1;           /*Esto sirve para que el contenido este por encima, cuanto más alto el número significa que pisa a otros de numero inferior */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color: var(--titulos);
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap:2rem;
    position: relative;
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: #3485ff;
}
main{
    
}