* {
    --principal: rgb(241, 233, 208);
    --titulos: rgb(75, 116, 206);
    --bordes: rgb(148, 28, 28);
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
}
header {
    position: sticky;
    /*Para que el menu se quede arriba siempre pero al principio ocupe su espacio*/
    top: 0;
    background-color: rgb(224, 200, 164);
    z-index: 1;
    /*Esto sirve para que el contenido este por encima, cuanto más alto el número significa que pisa a otros de numero inferior */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 auto;
}

h1, nav {
    color: var(--titulos);
    max-width: 1400px;   /* ancho máximo del contenido */
    margin: 0 auto;     /* centra horizontalmente */
    padding: 1rem;  
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
}

main{   
    
    max-width: 1400px;   /* ancho máximo del contenido */
    margin: 0 auto;     /* centra horizontalmente */
    padding: 1rem;      /* un poco de aire */
    background-color: bisque;
    width: 100vw;
    min-height: 100vh;
}



footer {
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   text-align: center;
}