* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --fondo: rgb(68, 131, 73);
  --subfondo: rgba(62, 230, 62, 0.26);
}

body,
html {
  min-height: 100vh;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
  user-select: none;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: var(--subfondo);
  color: wheat;
  height: 95%;
  width: 65%;
  border-radius: 25px;
  box-shadow: 0 0 23px 12px;
  border: none;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 4em;
}

form {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input,
select,
button {
  padding: 5px;
  border-radius: 15px;
}

.styCondi,
.styRango {
  border: none;
  margin: 5px;
}

button {
  cursor: pointer;
  color: rgb(247, 241, 230);
}

#btnReiniciar {
  background-color: rgb(248, 67, 97);
}

#btnEnviar {
  background-color: rgb(98, 98, 233);
}

#btnEnviar:hover {
  background-color: rgb(31, 31, 226);
  box-shadow: 0 0 10px 5px rgb(0, 217, 255);
}

#btnReiniciar:hover {
  background-color: rgb(247, 3, 44);
  box-shadow: 0 0 10px 5px rgb(247, 109, 173);
}

#btnBorrarTodo {
  background-color: rgb(255, 0, 0);
}

#btnBorrarTodo:hover {
  background-color: rgb(235, 82, 22);
  box-shadow: 0 0 10px 5px rgb(247, 4, 4);
}

.cajaError {
  border: 3px solid red;
  box-shadow: 0 0 8px 2px red;
}

.aviso {
  color: rgb(226, 64, 64);
  font-size: small;
  font-weight: bold;
}

#mensajeEn {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  color: white;
  width: 100%;
  display: none;
}

.exito-box h2 {
  font-size: 1.5em;
  color: #aaffaa;
  margin-bottom: 10px;
}



@media (max-width: 765px) {
  form {
    font-size: 1em;

  }

  main {
    height: 98%;
    width: 75%;
  }

  h1 {
    font-size: 2em;
  }
  .conteneodorBotones{
    display: flex;
    flex-direction: column;
    gap:5px;
  }
}