:root {
  --fondo: rgb(29, 80, 138);
  --fondo-contendor: rgba(255, 255, 255, 0.39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--fondo);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
  
}

.contenedor {
  background-color: var(--fondo-contendor);
  box-shadow: 0 0 20px 12px rgba(0, 0, 255, 0.226);
  min-height: 250px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.068);
  border-radius: 12px;
  padding: 40px;
  user-select: none;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

input {
  width: 80%;
  font-size: 25px;
  margin: 20px;
  padding: 10px;
  border: 4px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-radius: 20px;
}

input:focus {
  background-color: rgb(195, 247, 242);
}

#btnAgregar {
  cursor: pointer;
  font-size: 25px;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(46, 150, 190);
  color: white;
  border: none;

}


#btnAgregar:hover {
  background-color: rgb(17, 0, 255);
  box-shadow: 0 0 20px 15px blanchedalmond;

}

#lista-nota {
  min-height: 250px;
  width: 900px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(233, 124, 124, 0.418);
  box-shadow: 0 0 20px 12px rgba(235, 16, 27, 0.226);

}

#notas {
  width: 100%;
  min-height: 70px;
  font-size: 25px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}

.nota {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 222, 179);
  width: 100%;
  margin-top: 20px;
  font-size: 25px;
  border-radius: 20px;
  padding: 1rem;
  min-height: 50px;
  gap: 20px;
  white-space: pre-wrap;

}

.nota span {
  text-align: left;
  word-break: break-word;
  overflow-wrap: break-word;
}

.nota button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: rgb(190, 46, 82);
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;

}

button:hover {
  background-color: rgb(235, 14, 88);
  box-shadow: 0 0 20px 15px blanchedalmond;
}

@media (max-width:767px) {

  .contenedor,
  #lista-nota {
    width: 100%;
    max-width: 900px;
  }
  .contenedor{
    padding-left:15px ;
  }


  input {
    width: 100%;
  }

  #btnAgregar {
    width: 100%;
    font-size: 18px;
    padding: 15px;
  }

}