*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(124, 105, 192, 0.541);
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 35px;
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;    
    border: 2px solid ;
    border-radius: 25px;
    padding:30px 100px 100px;
    height: 50%;
    background-color: rgba(250, 235, 215, 0.363);
    margin: 30px;
}


label{
    font-size: 25px;
}

input{
    border-radius: 8px;
    box-shadow: 0 0 12px cadetblue;
    width: 100px;
    height:25px;
    text-align: right;
    margin-left: 5px;
    font-size: 20px;
}


button{
    margin: 25px;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    background-color: bisque;
    cursor: pointer;
    font-size: 20px;
}
.exito{
    color: black;
    font-size: 20px;
}

.error{
    color: rgb(129, 25, 25);
    font-size: 20px;
}