* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(27, 151, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 25px;
  width: 400px;
  background-color: rgba(0, 255, 255, 0.363);
  box-shadow: 0 0 15px 2px black;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.texto {
  font-size: 0.8rem;
  color: red;
  min-height: 16px;
}

.error {
  border: 2px solid red;
  box-shadow: 0 0 5px red;
}

#mensaje {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: green;
}
