* {
    --principal: bisque;
    --titulos: rgb(75, 116, 206);
    --bordes: rgb(148, 28, 28);
    --shadows:rgb(255, 145, 0);
    --cabecera:rgb(224, 200, 164);
    --subtitulos:rgb(255, 115, 0);
    --footer:#c55d17;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
*::selection{
    background-color: #c55d17;
}

body {
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: sticky;
    /*Para que el menu se quede arriba siempre pero al principio ocupe su espacio*/
    top: 0;
    background-color: var(--cabecera);
    z-index: 1;
    /*Esto sirve para que el contenido este por encima, cuanto más alto el número significa que pisa a otros de numero inferior */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 auto;
}

h1, nav {
    color: var(--titulos);
    max-width: 1400px;   /* ancho máximo del contenido */
    margin: 0 auto;     /* centra horizontalmente */
    padding: 1rem;  
   
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
    background-image: url(../img/bandera.png);
    background-size: cover;
    background-repeat: no-repeat;
    color:transparent;
    background-clip: text ;
    display: inline-block;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline var(--shadows);
    text-shadow: 1px 2px 10px var(--shadows);
    border-radius: 12px;
    background-color: var(--shadows);
}

main{   
    
    max-width: 1400px;   /* ancho máximo del contenido */
    margin: 0 auto;     /* centra horizontalmente */
    padding: 1rem;      /* un poco de aire */
    width: 100vw;
    min-height: 100vh;
}

footer {
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:var(--footer);
   text-align: center;
}

h2,h3,h4{
 text-align: center;
 font-size: 3rem;
 margin-bottom: 2rem;
 color: var(--subtitulos);
 text-shadow: 0 0 12px var(--shadows);
}

h3,h4{
    font-size: 1rem;
    text-shadow: 0 0 1;
}

.columnas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap:3rem ;

}

.card{
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 0.5rem;
    box-shadow: 0 0 20px rgb(255, 123, 0);
    background-color: rgba(245, 187, 79, 0.61);
    border-radius: 12px;
}

.card ol, .card ul{
    list-style-position: inside;
    padding: 0.5rem 2rem 1rem;
    margin: 0;
}
.secciones{
    padding-top: 1rem;
}

table{
    margin: 1rem;
    border-collapse: collapse;
    border:2px solid black;
    text-align: center; 
}

tr,td,th{
        border:2px solid rgb(255, 115, 0);
}

th{
    background-color: rgba(248, 164, 8, 0.726);
}

.columna1{
    text-align: left;
    padding-left:0.5rem;
}

/*MOVILES*/
@media (max-width:767px) {
    .columnas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap:3rem ;
}
header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);   
    text-align: center;
}
h1,h2,h3,h4{
    font-size: 1.5rem;
}
}

/*TABLETAS*/
@media (min-width: 768px) and (max-width: 1024px) {
    .columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap:3rem ;
    }
    header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);   
    text-align: center;
}
}