* {
    font-size: 100%;
    line-height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secciones {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

body {
    background: rgba(54, 98, 216, 0.884);
}

main {
    margin-left: 3rem;
    margin-right: 3rem;
    border: solid rgb(0, 0, 0);
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: orange;
}

li {
    line-height: 150%;
}

.centrarimg {
    text-align: center;
}

h1 {
    color: rgba(226, 139, 8, 0.849);
    text-align: center;
    font-size: 8rem;
    text-shadow: 2px 3px 10px rgb(61, 24, 223);
    overflow: clip;
}

header {
    background: rgb(95, 163, 228);
}

h2 {
    font-size: 3rem;
    color: blueviolet;
    text-align: center;
    overflow: clip;
}

h3 {
    font-size: 2rem;
    color: rgba(183, 43, 201, 0.849);
    text-align: left;
    overflow: clip;
}

.enlaces {
 
    text-align: center;
    line-height: 3.5;
    /*Espacio que damos*/
    width: 100%;
    flex-wrap: nowrap;
    /*Para que los enlaces se ajusten a la pantalla*/
    white-space: nowrap;
    /*Para que no se separen las palabras*/
}


a {
    color: rgb(94, 19, 235);
    padding: 5px;
}
p{
    overflow: clip;
}